html {
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

a {
    color:purple
}

a:hover{
    color:red;
}

.container {
    width: 80%; 
    margin:auto;
    font-family: Tahoma;
}

.header-style{
    background:#4f4f4f;
    
}

.header-style h2{
    color:red;
}

.topic-block{
    border: 3px solid #4f4f4f;
    padding:8px;
    margin:10px 0px;
}

.article-block{
    background: #ccc;
    color:black;
    padding:2px 5px;
    margin: 15px 0px;
}

.article-block h3{
    font-weight:900
}

.project-video{
    padding: 10px 0px;
}

.project-video iframe{
    height: 315px;
    width: 560px;
}

.project-content h4{
    margin-bottom: 0px;
    border-bottom: 0px;
}

.project-content p{
    margin-top: 2px;
}

.project-header {
    padding: 3px;
    border: 3px solid #4f4f4f;
}